@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>CategoriaRecurso</h1>

<form method="post" action="Create">
    <div class="form-group">
        <label for="descricao">CategoriaRecurso</label>
        <input type="text" class="form-control" id="descricao" name="descricao">
        
    </div>

    <div class="form-group">
        <label for="descricao">Descricao</label>
        <input type="text" class="form-control" id="descricao" name="descricao">
        
    </div>
    <div class="form-group">
        <label for="descricao">Nome</label>
        <input type="text" class="form-control" id="descricao" name="descricao">
        
    </div>
    
    
    <a href="/CategoriaRecurso/Index" class="btn btn-secondary">Voltar</a>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>