@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Lista de Responsavel</h1>
</div>
<div id="divResponsavel">
    <table class="table table-striped">

        <thead>
            <tr>
                
                <th scope="col">Codigo</th>
                 <th scope="col">Nome</th>
                  <th scope="col">Idade</th>
                  
                
            </tr>
        </thead>
        <tbody>
    

            @foreach (var item in @ViewBag.listaResponsavel)
            {
                <tr>
                    <td>@item.RESID</td>
                    <td>@item.RESNOME</td>
                    <td>@item.RESIDADE</td>
                 <td><a class="btn btn-primary" href="/responsavel/atualizar/@item.RESID">Editar</a></td>
                 <td> <a class="btn btn-outline-danger" href="/responsavel/Apagar/@item.RESID">Apagar</a></td>         
                </tr>
            }
            <

        </tbody>

    </table>


</>
