@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Lista de NiveldeEnsino</h1>
</div>
<div id="divNiveldeEnsino">
    <table class="table table-striped">

        <thead>
            <tr>
                
                <th scope="col">Codigo</th>
                 <th scope="col">Descricao</th>
                  <th scope="col">Nome</th>
                  
                  
                
            </tr>
        </thead>
        <tbody>
    

            @foreach (var item in @ViewBag.listaNiveldeEnsino)
            {
                <tr>
                    <td>@item.NIENID</td>
                    <td>@item.NIENOME</td>
                    <td>@item.NIENDESCRICAO</td>
                </tr>
            }
            <

        </tbody>

    </table>


</>
